@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Space+Grotesk:wght@500&display=swap');

* {
    padding:0;
    margin:0;
}

body {
    font-family: 'Caveat', cursive;
    background:#ffcb77;
    
}

.container {
    margin:auto; /*place at the center */
    width:90%;
    display:flex;
}

.groceries {
    width:600px;
    min-height:100vh; /*as the grocery list grows, the container will also grow in size */
    margin:auto;
    background-color:white;
    box-shadow:10px 10px 24px 0 rgba(0, 0, 0, 0.5)
}

/*increase size of heading and move it down a bit */
.groceries h1 {
    font-size:2.5rem;
    margin-top: 1em;
}

/* incease size of icon */
.groceries i {
    font-size:2rem;
}

.groceries input {
    font-family:inherit;
    outline:0;
    border:0;
    border-bottom: 3px solid black;
    width:70%;
    font-size: 1.5rem;
}

#allItems h2 {
    margin-left:50px;
    margin-right:10px;
    margin-top: 15px; /*create space between each item */

}

@media(max-width:480px) {
    .groceries h1 {
        font-size: 2rem;
    }
    .groceries i {
        font-size: 1.5rem;
    }
    .groceries input {
        font-size: 1rem;
    }
    #allItems h2 {
        margin-left:25px;
        font-size: 1.5rem;
    }
}